<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/approved.css">
</head>
<body>
    <nav>
        <div class="main-left">
            <a href="/"><h2><span class="header">Sahayya</span>Setu</h2></a>
        </div>
        <div class="main-right">
            <a href="/">Home</a>
            <a href="#we-do-section"><span class="what-we-do">What we do</span></a>
            <a href="/ngos">NGOs</a>
            <a href="/donate"><button class="donate">
                <span>Donate</span><img class="donate-img" src="/images/icons8-donate-20.png" alt="hand-holding-heart"/>
            </button></a>
        </div>
    </nav>
    <div class="request-header">
        <p class="requests">Approved</p>
    </div>
    <div class="card">
        <p class="info">
            <b>5kg rice, eggs,30L water cans</b>
        </p>
        <div class="card-request">
            <span class="card-span"><b>Requested by:</b> <br>NAME: Prema <br>PLACE: Banur <br>PHONE: +91 99xxxxxxx8</span>
        </div>
    </div>
    <!-- HTML -->
    <div class="footer-container">
        <section class="social-section">
            <div class="social-links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-google"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-github"></i></a>
            </div>
        </section>
  
        <section class="footer-content">
            <div class="footer-column">
                <h6 class="footer-title">SahayyaSetu</h6>
                <hr class="footer-divider">
                <p class="footer-text">
                  Your Request, Our Mission: Making a Difference
                </p>
            </div>
  
            <div class="footer-column">
                <h6 class="footer-title">NGOs</h6>
                <hr class="footer-divider">
                <div class="footer-links">
                    <p><a href="/requests">Requests</a></p>
                    <p><a href="/approved">Approved</a></p>
                </div>
            </div>
  
            <div class="footer-column">
                <h6 class="footer-title">Useful links</h6>
                <hr class="footer-divider">
                <div class="footer-links">
                    <p><a href="/ngos">Partner</a></p>
                    <p><a href="/donate">Donate</a></p>
                    <p><a href="#">Help</a></p>
                </div>
            </div>
  
            <div class="footer-column">
                <h6 class="footer-title">Contact</h6>
                <hr class="footer-divider">
                <div class="contact-info">
                    <p><i class="fas fa-home"></i>Mysore</p>
                    <p><i class="fas fa-envelope"></i> info@example.com</p>
                    <p><i class="fas fa-phone"></i> + 01 234 567 88</p>
                    <p><i class="fas fa-print"></i> + 01 234 567 89</p>
                </div>
            </div>
        </section>
    </div>
</body>
</html>