<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/requests.css">
</head>
<body>
    <nav>
        <div class="main-left">
            <a href="/"><h2><span class="header">Sahayya</span>Setu</h2></a>
        </div>
        <div class="main-right">
            <a href="/">Home</a>
            <a href="#we-do-section"><span class="what-we-do">What we do</span></a>
            <a href="/ngos">NGOs</a>
            <a href="/donate"><button class="donate">
                <span>Donate</span><img class="donate-img" src="/images/icons8-donate-20.png" alt="hand-holding-heart"/>
            </button></a>
        </div>
    </nav>
    <div class="request-header">
        <p class="requests">Requests</p>
        <a href="/approved">
            <button class="approved">
                <p >Approved</p>
            </button>
        </a>
    </div>
    <div class="card">
        <p class="info">
            <b>10kg wheat, sprouts, eggs</b>
        </p>
        <div class="card-request">
            <span class="card-span"><b>Requested by:</b> <br> NAME: Divya <br>PLACE: SAGARKATTE <br>PHONE: +91 99xxxxxxx8</span>
        </div>
        <button>Accept</button>
    </div>
</body>
</html>